<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" href="/Message/Compose">Soạn thư</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Message/Sent">Đã gửi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Message/Received">Đã nhận</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Message/RecycleBin">Thùng rác</a>
    </li>
</ul>
        