@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
    <div class="row">
        <div class="col-3">
            <partial name="/Views/Shared/_Tabs.cshtml" />
        </div>
        <div class="col-9">
            <div class="container"><br>
                <form action="/Message/SendMess" method="POST">
                    <p>Người nhận</p>
                    <div class="form-group wrap-compose d-flex flex-wrap align-items-center">
                        <span></span>
                        <textarea id="receiver" name="receiver" placeholder="Nhập tên người nhận"
                            class="form-control js-formatInputName receiver"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" class="form-control " name="title" placeholder="Nhập tiêu đề" required>
                    </div>
                    <div>
                        <label>Nội dung</label>
                        <br>
                        <textarea id="subject" class="form-control" name="content" placeholder="Nhập nội dung ..."
                            style="height:200px" required></textarea>
                    </div>
                    <button class="btn btn-primary" id="send">Gửi</button>
                </form>
            </div>
        </div>
    </div>
</div>