@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{Html.RenderPartial("_HeaderNavBar");}
    <div class="row">
        <div class="col-3">
            <partial name="/Views/Shared/_Tabs.cshtml" />
        </div>
        <div class="col-9">
            <div class="container"><br>
                    <ul class="list-group">
                        @if(ViewBag.ListMessReceive != null)
                        {
                        @foreach (var item in ViewBag.ListMessReceive)
                        {
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 text-truncate">
                                                <b class="text-dark d-inline-block">
                                                    Người gửi: @item.Message.User.Username
                                                </b>
                                            </div>
                                            <div class="col-7 contentt">
                                                <div class="row">
                                                    <div class="col-6 text-truncate">
                                                        <b>
                                                            @item.Message.Title
                                                        </b>
                                                    </div>
                                                    <div class="col-6 text-truncate">
                                                        <span>
                                                            - @item.Message.Content
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger" onclick="window.location.href = '/Message/RemoveByReceived?MessageId=@item.Message.Id'">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                        }
                        }
                    </ul>
            </div>
        </div>
    </div>
</div>